#heading{
	/*color: rgb(255, 255, 255);*/
	color:black;
	/*text-shadow: 2px 2px 4px #000000;*/
	/* background-color:#0000FF;*/
	 	/*background-color:rgb(117, 26, 255);*/
	 	
	 	 font-family: Arial, Helvetica, sans-serif;
	 	 font-size: 40px;
	 	  font-weight:bold;
	 	 /* font-style:italic;*/

}
html{
	/*overflow: hidden;*/
}
#FooterDivHeight{
  /*position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  overflow-x: hidden;*/
}
#fmHeading{
	color:#333399;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.table-hover tbody tr:hover td {
			background:#ffb366 !important;
		}
.jumbotron {
  margin: 0;
  padding: 15px;
  
   background: linear-gradient(orange,white,green);
}
#titleList li a:hover {
    background-color: #ffb366;
}
#FooterDivHeight{	
	 background-color:black;	
}
#middle{
	  
	     /*background: linear-gradient(to right, #ccccff, #cceeff, #b3b3ff );*/
	      background-color:rgb(255, 255, 255);
	      z-index:-1
	      /* background: linear-gradient(to right, #b3b3ff, #cceeff, #b3b3ff );*/
}
#footerHeading{
	color:white;
	 font-size: 10px;
}
.Emblem{
  	width:100px; height:100px;
  }
  .ladyJustice{
  	width:90px;
  	 height:100px;
  }
@media (max-width: 1080px) {
  .Emblem{
  	width:100px; 
  	height:100px;
  }
  .ladyJustice{
  	width:90px;
  	 height:100px;
  }
   #heading{
	/*color: rgb(255, 255, 255);*/
	color:blue;
	/* background-color:#0000FF;*/
	 	/*background-color:rgb(117, 26, 255);*/
	 	
	 	 font-family: Arial, Helvetica, sans-serif;
	 	 font-size: 30px;
	 	  font-weight:bold;
	 	 /* font-style:italic;*/
}
/*
.smallBtn{
	padding: 0 !important;
    font-size: 5px !important;

}*/
.topnav {
    background-color: #333;
    overflow: hidden;
}
.navbar{
	position: relative;
	z-index: 999;
}
html{
	overflow: hidden;
}
#titleList li a:hover {
    background-color: #ffb366;
}
.dropdown-menu li a:hover{
	background-color:  #ffb366 !important;;
}
}
@media (max-width: 786px) {
  .Emblem{
  		width:100px; 
  	height:100px;
  	margin-left:-30px; 
  }
  html{
	overflow: hidden;
}
  .ladyJustice{
  width:90px;
  	 height:100px;
  	 margin-right:-20px;
  }
  #heading{
	/*color: rgb(255, 255, 255);*/
	color:blue;
	/* background-color:#0000FF;*/
	 	/*background-color:rgb(117, 26, 255);*/
	 	
	 	 font-family: Arial, Helvetica, sans-serif;
	 	 font-size: 40px;
	 	  font-weight:bold;
	 	 /* font-style:italic;*/
}
/*
.smallBtn{
	padding: 0 !important;
    font-size: 5px !important;

}*/
.navbar{
	position: relative;
	z-index: 999;
}
#titleList li a:hover {
    background-color: #ffb366;
}
.dropdown-menu li a:hover{
	background-color:  #ffb366 !important;;
}

}
@media (max-width: 640px) {
 .Emblem{
  	width:100px; 
  	height:100px;
  }
  .ladyJustice{
  	width:90px;
  	 height:100px;
  }
  html{
	overflow: scrollobv;
}
   #heading{
	/*color: rgb(255, 255, 255);*/
	color:blue;
	/* background-color:#0000FF;*/
	 	/*background-color:rgb(117, 26, 255);*/
	 	
	 	 font-family: Arial, Helvetica, sans-serif;
	 	 font-size: 25px;
	 	  font-weight:bold;
	 	 /* font-style:italic;*/
}
.smallBtn{
	padding: 0 !important;
    font-size: 5px !important;

}
.navbar{
	position: relative;
	z-index: 999;
}
#titleList li a:hover {
    background-color: #ffb366;
}
.dropdown-menu li a:hover{
	background-color:  #ffb366 !important;;
}

}
@media (max-width: 480px) {
  .Emblem{
  	width:50px; 
  	height:50px;
  }
  html{
	overflow: scroll;
}
  .ladyJustice{
  	width:50px; 
  	height:60px;
  }
  #heading{
	/*color: rgb(255, 255, 255);*/
	color:blue;
	/* background-color:#0000FF;*/
	 	/*background-color:rgb(117, 26, 255);*/
	 	
	 	 font-family: Arial, Helvetica, sans-serif;
	 	 font-size: 18px;
	 	  font-weight:bold;
	 	 margin-right: -20px;
	 	 margin-left: -20px
	 	 /* font-style:italic;*/
	 	 
}
.smallBtn{
	padding: 0 !important;
    font-size: 5px !important;

}
.navbar{
	position: relative;
	z-index: 999;
}
#titleList li a:hover {
    background-color: #ffb366;
}
.dropdown-menu li a:hover{
	background-color:  #ffb366 !important;;
}

}
@media (max-width: 360px) {
  .Emblem{
  	width:50px; 
  	height:50px;
  	margin-left:-30px; 
  }
  html{
	overflow: scroll;
}
  .ladyJustice{
  	width:50px; 
  	height:60px;
  	margin-right:-20px;
  }
  #footerHeading{
	color: rgb(255, 255, 255);
	 font-size: 12px;
}
  #heading{
	/*color: rgb(255, 255, 255);*/
	color:blue;
	/* background-color:#0000FF;*/
	 	/*background-color:rgb(117, 26, 255);*/
	 	
	 	 font-family: Arial, Helvetica, sans-serif;
	 	 font-size: 15px;
	 	  font-weight:bold;
	 	   margin-right: -20px;
	 	 margin-left: -20px
	 	 /* font-style:italic;*/
}
.smallBtn{
	padding: 0 !important;
    font-size: 5px !important;

}
.navbar{
	position: relative;
	z-index: 999;
}
#titleList li a:hover {
    background-color: #ffb366;
}
.dropdown-menu li a:hover{
	background-color: #ffb366 !important;
}

}
.topnav {
  /*overflow: hidden;*/
  background-color: black;
}
.topnav li a {
 /* float: left;*/
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  z-index:9999;
  
}
/*.topnav li .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li a {
    float: none;
    display: block;
    text-align: left;
  }
*/
